<div class="row">
    <div class="container">
           <div class="logo">
                 <img src="../../../assets/Foto.jpg" id="logoAp">
             </div>

             <div>
                <p id="nombre">Ing. Nadiezhda González Zúniga</p>
                <p id="titulo">Ingeniera en Sistemas</p>
                <p id="acerca">Profesional en Desarrollo de Software y Diseño Gráfico.</p>
                </div>
             <div>
                <button id="btncv">Descargar CV</button>
                <button id="btnperfil">Mi Perfil</button>
             </div>
             <div>
                 <p><a href="#">Sobre mi</a>  <a href="#">Servicios</a>  <a href="#">Portafolio</a><a href="#">Contacto</a></p>
               
             </div>
