<div class="row">
    <div class="container">
           <div class="logo">
                 <img src="../../../assets/APLogo.png" id="logoAp">
             </div>
             
             
        
            <div class="redes">
                <a href="https://es-la.facebook.com"><img src="../../../assets/facebook.png" id="facebook" title="Facebook"></a>
                <a href="https://instagram.com"><img src="../../../assets/instagram.png" id="instagram" title="Instagram"></a>
                <a href="https://www.linkedin.com"><img src="../../../assets/linkedin.png" id="linkedin" title="Linkedin"></a>
                <a href="https://twitter.com"><img src="../../../assets/twitter.png" id="twitter" title="Twitter"></a>
                <a href="https://github.com/nadiezhdagonza/ProyectoIntegrador"><img src="../../../assets/github.png" id="github" title="Github"></a>

                <div class="dropdown"> 
                    <a href=""><img src="../../../assets/menu.png" id="menu" title="Menú"></a>
                    
                    <div class="dropdown-content">
                    <a href=""><img src="../../../assets/inicio.png">Inicio</a>
                    <a href=""><img src="../../../assets/estudios.png">Estudios</a>
                    <a href=""><img src="../../../assets/experiencia.png">Experiencia</a>
                    <a href=""><img src="../../../assets/proyecto.png">Proyectos</a>
                    </div>
                    
                </div>
                           
            </div>
            
               

        </div>


        <div class="marquee">
              <marquee>Bienvenido a mi Portafolio</marquee>
          </div>
</div>


