<div class="row">
    <div class="container">
        <div class="estudios">
            <h1>Educación</h1>
        </div>
             <table class="content-table">
                <caption>Estudios</caption>
                <tr>
                    <td>Año:  2004</td>
                    <th>Ingeniería en Sistemas</th>
                    <th>Universidad Politécnica de Nicaragua</th>
                </tr>
                <tr>
                    <td>Año:  2004</td>
                    <th>Diseño Gráfico</th>
                </tr>
                  <tr>
                    <td>Año:  2004</td>
                    <th>Curso Redes CCNA</th>
                  </tr>  
                  <tr>
                    <td>Año:  2021</td>
                    <th>Argentina Programa</th>
                  </tr>     
            </table>
            
      
